h1 {text-align:center;}
h2 {text-align:center;}
body {
    background:url('studentbackground.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    text-align:center;
    font-family:"Comic Sans", Comic Sans MS, cursive;
    font-size: 30px;
}
